{% set tours = getTours() %}

<style>
    {% include 'RichIdTourBundle::style.css.twig' %}

    {% block custom_style %}{% endblock %}
</style>

<div class="rich-id-administration">
    <div id="rich-id-alerts"></div>
    <div class="rich-id-administration-title">
        <div>{{ 'rich_id_tour.administration.tour.title'|trans({}, 'tour') }}</div>
    </div>
    {% set statistics = getToursStatistics() %}

    {% for tourName,tour in tours %}
        <div class="rich-id-tour-actions">
            <div class="rich-id-tour-name">{{ tourName }} ({{ tour.storage }})</div>

            <div class="rich-id-tour-toggle">
                <input id="form_{{ tourName }}" name="form[{{ tourName }}]" type="checkbox" onclick="richIdTourActivationChange('{{ tourName }}');">
                <label for="form_{{ tourName }}">{{ 'rich_id_tour.administration.is_enabled'|trans({}, 'tour') }}</label>
            </div>

            {% if tour.storage == 'database' %}
                <button class="rich-id-tour-button" onclick="richIdTourReset('{{ tourName }}');">
                    {{ 'rich_id_tour.administration.force_tour_reset'|trans({}, 'tour') }}
                </button>

                <div class="statistics">
                    {{ 'rich_id_tour.administration.performed_number'|trans({'%count%': statistics[tourName]|default(0)}, 'tour') }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    {% if tours is empty %}
        <div>
            <strong>{{ 'rich_id_tour.administration.tour.empty'|trans({}, 'tour') }}</strong>
        </div>
    {% endif %}
</div>

<script>
    window.richIdTourAddAlert = function (message) {
        var alert = document.createElement('div');
        var alertContent = document.createTextNode(message);
        alert.classList.add('rich-id-alert');
        alert.appendChild(alertContent);

        document.getElementById('rich-id-alerts').appendChild(alert);

        var timeout = setTimeout(function () {
            document.getElementById('rich-id-alerts').removeChild(alert);
        }, 3000);

        alert.addEventListener('click', function () {
            clearTimeout(timeout);
            document.getElementById('rich-id-alerts').removeChild(alert);
        });
    };

    {% for tourName,tour in tours %}
        {% if not isTourDisabled(tourName) %}
            document.getElementById('{{ 'form_' ~ tourName }}').checked = true;
        {% endif %}
    {% endfor %}

    document.addEventListener("DOMContentLoaded", function () {
        window.richIdTourActivationChange = function (tourId) {
            var xhr = new XMLHttpRequest();

            if (document.getElementById('form_' + tourId).checked) {
                xhr.open('POST', '{{ path('rich_id_tour_enable_tour') }}' + '?tour=' + tourId);
                xhr.send();

                xhr.onload = function() {
                    var message = '{{ 'rich_id_tour.administration.tour_enabled'|trans({}, 'tour')|e('js') }}';
                    richIdTourAddAlert(message.replaceAll('%tour%', tourId));
                };
            } else {
                xhr.open('POST', '{{ path('rich_id_tour_disable_tour') }}' + '?tour=' + tourId);
                xhr.send();

                xhr.onload = function() {
                    var message = '{{ 'rich_id_tour.administration.tour_disabled'|trans({}, 'tour')|e('js') }}';
                    richIdTourAddAlert(message.replaceAll('%tour%', tourId));
                };
            }
        };

        window.richIdTourReset = function (tourId) {
            if (confirm('{{ 'rich_id_tour.administration.force_tour_reset_confirmation'|trans({}, 'tour')|e('js') }}')) {
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', '{{ path('rich_id_tour_reset_performed_tours') }}' + '?tour=' + tourId);
                xhr.send();

                xhr.onload = function() {
                    richIdTourAddAlert('{{ 'rich_id_tour.administration.tour_reseted'|trans({}, 'tour')|e('js') }}');
                };
            }
        };
    });
</script>
